In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("single_genre_artists.csv")
df.head()

,id_songs,name_song,popularity_songs,duration_ms,explicit,id_artists,release_date,danceability,energy,key,...,acousticness,instrumentalness,liveness,valence,tempo,time_signature,followers,genres,name_artists,popularity_artists
0,0IA0Hju8CAgYfV1hwhidBH,La Java,0,161427,0,4AxgXfD7ISvJSTObqm4aIE,1922,0.563,0.184,4,...,0.993,0.000016,0.325,0.654,133.088,3,5078.0,['vintage chanson'],Mistinguett,22
1,1b8HZQCqcqwbzlA1jRTp6E,En Douce,0,223440,0,4AxgXfD7ISvJSTObqm4aIE,1922,0.427,0.180,10,...,0.989,0.000000,0.128,0.431,78.459,3,5078.0,['vintage chanson'],Mistinguett,22
2,5d5gQxHwYovxR5pqETOIAa,J'en Ai Marre,0,208267,0,4AxgXfD7ISvJSTObqm4aIE,1922,0.511,0.206,0,...,0.995,0.000000,0.418,0.481,70.443,4,5078.0,['vintage chanson'],Mistinguett,22
3,1EO65UEEPfy7CR0NK2sDxy,Ils n'ont pas ca,0,161933,0,4AxgXfD7ISvJSTObqm4aIE,1924,0.676,0.467,9,...,0.991,0.000000,0.219,0.726,129.775,4,5078.0,['vintage chanson'],Mistinguett,22
4,6a58gXSgqbIsXUhVZ6ZJqe,La belote,0,167973,0,4AxgXfD7ISvJSTObqm4aIE,1924,0.650,0.298,9,...,0.991,0.000000,0.373,0.844,75.950,4,5078.0,['vintage chanson'],Mistinguett,22

In [3]:
print(df.shape)
print(df.columns)
print(df.info())

(95837, 23)
Index(['id_songs', 'name_song', 'popularity_songs', 'duration_ms', 'explicit',
       'id_artists', 'release_date', 'danceability', 'energy', 'key',
       'loudness', 'mode', 'speechiness', 'acousticness', 'instrumentalness',
       'liveness', 'valence', 'tempo', 'time_signature', 'followers', 'genres',
       'name_artists', 'popularity_artists'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95837 entries, 0 to 95836
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_songs            95837 non-null  object
 1   name_song           95837 non-null  object
 2   popularity_songs    95837 non-null  int64
 3   duration_ms         95837 non-null  int64
 4   explicit            95837 non-null  int64
 5   id_artists          95837 non-null  object
 6   release_date        95837 non-null  object
 7   danceability        95837 non-null  float64
 8   energy              95837 non-null  float64
 9   key                 95837 non-null  int64
 10  loudness            95837 non-null  float64
 11  mode                95837 non-null  int64
 12  speechiness         95837 non-null  float64
 13  acousticness        95837 non-null  float64
 14  instrumentalness    95837 non-null  float64
 15  liveness            95837 non-null  float64
 16  valence             95837 non-null  float64
 17  tempo               95837 non-null  float64
 18  time_signature      95837 non-null  int64
 19  followers           95837 non-null  float64
 20  genres              95837 non-null  object
 21  name_artists        95837 non-null  object
 22  popularity_artists  95837 non-null  int64
dtypes: float64(10), int64(7), object(6)
memory usage: 16.8+ MB
None

In [4]:
df.isnull().sum()

id_songs              0
name_song             0
popularity_songs      0
duration_ms           0
explicit              0
id_artists            0
release_date          0
danceability          0
energy                0
key                   0
loudness              0
mode                  0
speechiness           0
acousticness          0
instrumentalness      0
liveness              0
valence               0
tempo                 0
time_signature        0
followers             0
genres                0
name_artists          0
popularity_artists    0
dtype: int64

In [5]:
df.duplicated().sum()
df.dtypes

id_songs               object
name_song              object
popularity_songs        int64
duration_ms             int64
explicit                int64
id_artists             object
release_date           object
danceability          float64
energy                float64
key                     int64
loudness              float64
mode                    int64
speechiness           float64
acousticness          float64
instrumentalness      float64
liveness              float64
valence               float64
tempo                 float64
time_signature          int64
followers             float64
genres                 object
name_artists           object
popularity_artists      int64
dtype: object

In [6]:
useless_column=["id_songs","name_song","id_artists","release_date","genres","name_artists"]
df=df.drop(columns=useless_column)

In [7]:
df.head()

,popularity_songs,duration_ms,explicit,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature,followers,popularity_artists
0,0,161427,0,0.563,0.184,4,-13.757,1,0.0512,0.993,0.000016,0.325,0.654,133.088,3,5078.0,22
1,0,223440,0,0.427,0.180,10,-15.375,1,0.0670,0.989,0.000000,0.128,0.431,78.459,3,5078.0,22
2,0,208267,0,0.511,0.206,0,-15.514,1,0.0592,0.995,0.000000,0.418,0.481,70.443,4,5078.0,22
3,0,161933,0,0.676,0.467,9,-12.393,0,0.1650,0.991,0.000000,0.219,0.726,129.775,4,5078.0,22
4,0,167973,0,0.650,0.298,9,-13.806,1,0.1380,0.991,0.000000,0.373,0.844,75.950,4,5078.0,22

In [8]:
df["followers"].unique()

array([5.0780e+03, 2.9400e+02, 3.9000e+01, ..., 1.0356e+04, 4.1065e+04,
       1.6057e+04], shape=(11585,))

In [9]:
del_col=["mode","popularity_songs","explicit","key","time_signature","followers","popularity_artists"]
df=df.drop(columns=del_col)
df

,duration_ms,danceability,energy,loudness,speechiness,acousticness,instrumentalness,liveness,valence,tempo
0,161427,0.563,0.1840,-13.757,0.0512,0.993,0.000016,0.3250,0.654,133.088
1,223440,0.427,0.1800,-15.375,0.0670,0.989,0.000000,0.1280,0.431,78.459
2,208267,0.511,0.2060,-15.514,0.0592,0.995,0.000000,0.4180,0.481,70.443
3,161933,0.676,0.4670,-12.393,0.1650,0.991,0.000000,0.2190,0.726,129.775
4,167973,0.650,0.2980,-13.806,0.1380,0.991,0.000000,0.3730,0.844,75.950
...,...,...,...,...,...,...,...,...,...,...
95832,174800,0.674,0.5680,-6.356,0.0408,0.116,0.000000,0.1650,0.640,166.107
95833,265846,0.528,0.6730,-3.639,0.0314,0.143,0.000000,0.0989,0.297,130.066
95834,82500,0.609,0.0172,-28.573,0.1180,0.996,0.973000,0.1080,0.890,68.619
95835,185250,0.562,0.0331,-25.551,0.1030,0.996,0.961000,0.1110,0.386,63.696
95836,258267,0.560,0.5180,-7.471,0.0292,0.785,0.000000,0.0648,0.211,131.896

In [10]:
features = ["duration_ms", "danceability", "energy", "loudness", "speechiness", "acousticness", "instrumentalness", "liveness", "valence", "tempo"]

In [11]:
df.to_csv("clean_amazon.csv")

In [12]:
df=pd.read_csv("clean_amazon.csv")
df.head()

,Unnamed: 0,duration_ms,danceability,energy,loudness,speechiness,acousticness,instrumentalness,liveness,valence,tempo
0,0,161427,0.563,0.184,-13.757,0.0512,0.993,0.000016,0.325,0.654,133.088
1,1,223440,0.427,0.180,-15.375,0.0670,0.989,0.000000,0.128,0.431,78.459
2,2,208267,0.511,0.206,-15.514,0.0592,0.995,0.000000,0.418,0.481,70.443
3,3,161933,0.676,0.467,-12.393,0.1650,0.991,0.000000,0.219,0.726,129.775
4,4,167973,0.650,0.298,-13.806,0.1380,0.991,0.000000,0.373,0.844,75.950